@media screen and (max-width: 992px) {
  .contacts__phone {
    display: none; } }

@media screen and (max-width: 719px) {
  .nav {
    font-size: 14px; } }

@media screen and (max-width: 719px) {
  .contacts__btn {
    display: none; } }

@media screen and (min-width: 369px) and (max-width: 718px) {
  .price__half {
    margin-top: 5rem; }
  .price__btn {
    margin-left: 0; } }

@media screen and (max-width: 370px) {
  .box__menu-logo {
    margin-right: 0; }
  .contacts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contacts__img {
      margin-right: 0; }
    .contacts__img2 {
      margin: auto; }
  .name__info {
    margin-left: 1rem; }
  .card {
    width: 15rem;
    height: 16rem; } }

@media screen and (min-width: 320px) and (max-width: 369px) {
  .price__info {
    width: 18rem; }
  .price__btn {
    margin-left: 0;
    margin-bottom: 30px; }
  .contacts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contacts__img {
      margin-right: 0; }
    .contacts__img2 {
      margin: auto; }
  .name__info {
    margin-left: 1rem; }
  .card {
    width: 15rem;
    height: 16rem; } }

@media screen and (min-width: 320px) and (max-width: 420px) {
  .modalFoto__dialog {
    max-width: 20rem; } }
