@media  screen and (min-width : 992px) and (max-width : 1199px)
  .banner
    &__fone
      &-title
        &:hover
          font-size: 85px
  .history__title::after 
    margin-left: 163px
  .singatures__title::after ,
  .menu__title::after 
    margin-left: 405px
  .cards2
    margin-right: 20px
@media  screen and (min-width : 768px) and (max-width : 991px)
  .header
    &__logo
      &:hover
        &::before, &::after
          display: none 
  .nav
    &-item
      &:hover
        &::after
          display: none
  .banner
    &__fone
      padding-top: 100px
      padding-bottom: 160px
      &-title
        &:hover
          font-size: 72px
          &::after
            display: none
  .singatures__title::after ,
  .menu__title::after 
    margin-left: 295px
  .cards2 
    margin-top: 0
    margin-left: 9px
  .cards 
    margin-top: 80px
  .menu
    padding-top: 60px
    padding-bottom: 60px
    &__price:hover
      transform: none
    &__name     
      &:hover
        &::after
          display: none
  .portfolio img 
    max-width: 280px
    height: 165px
  .about
    padding-top: 60px
    padding-bottom: 60px
    &__story
      text-align: center
  .singatures 
    padding-top: 60px
    padding-bottom: 60px
  .history
    padding-left: 0
    &__info
      margin: auto
    &__title::after
      margin-left: 285px
@media  screen and (min-width : 576px) and (max-width : 767px)
  .banner
    &__fone
      padding-top: 100px
      padding-bottom: 160px
      &-title
        font-size: 55px
  .about
    padding-top: 60px
    padding-bottom: 60px
    &__story
      text-align: center
  .singatures 
    padding-top: 60px
    padding-bottom: 60px
  .history
    padding-left: 0
    &__info
      margin: auto
    &__title::after
      margin-left: 200px
  .singatures__title::after ,
  .menu__title::after 
    margin-left: 195px
  .cards2 
    margin-top: 0
    margin-left: 9px
  .cards 
    margin-top: 80px
  .portfolio img 
    max-width: 280px
    height: 165px
  .menu__name     
    &:hover
      &::after
        display: none
  .menu
    padding-top: 60px
    padding-bottom: 60px
    &__price
      &:hover
        transform: none
  .header
    &__logo
      &:hover
        &::before, &::after
          display: none 
  .nav
    &-item
      &:hover
        &::after
          display: none
  .banner
    &__fone
      &-title
        &:hover
          &::after
            display: none
