@media screen and (max-width: 992px) 
  .contacts
    &__phone
      display: none
@media screen and (max-width: 719px) 
  .nav
    font-size: 14px
@media screen and (max-width: 719px) 
  .contacts
    &__btn
      display: none
@media screen and (min-width: 369px) and (max-width: 718px) 
  .price
    &__half
      margin-top: 5rem
    &__btn
      margin-left: 0
@media screen and (max-width: 370px) 
  .box
    &__menu
      &-logo
        margin-right: 0
  .contacts
    flex-wrap: wrap
    display: flex
    justify-content: center
    &__img
      margin-right: 0
    &__img2 
      margin: auto
  .name__info
    margin-left: 1rem
  .card
    width: 15rem
    height: 16rem
@media screen and (min-width: 320px) and (max-width: 369px) 
  .price
    &__info
      width: 18rem
    &__btn
      margin-left: 0
      margin-bottom: 30px
  .contacts
    flex-wrap: wrap
    display: flex
    justify-content: center
    &__img
      margin-right: 0
    &__img2 
      margin: auto
  .name__info
    margin-left: 1rem
  .card
    width: 15rem
    height: 16rem     
@media screen and (min-width: 320px) and (max-width: 420px) 
  .modalFoto
    &__dialog
      max-width: 20rem
