.portfolio
  margin-left: -15px 
  background: #f3f4f7
  //margin-right: -15px
  margin-top: -52px
  position: relative
  overflow: hidden
  img
    max-width: 480px
    height: 365px
    transition: .3s ease-in-out
    overflow: hidden
    &:hover
      transform: scale(1.2)
  &__foto
    position: relative
    display: flex
    justify-content: end
    
